simulation_name : 'test'

#The simualtion is on server or not
on_server : True
on_venv : True
#Number of cores in use
core_number : 2
#system type
os_name : 'linux'
fluent_path : '/data/APP/ansys_inc/v195/fluent/bin/fluent'

# relative path to case folder
folders:
  mesh_folder : 'mesh'
  ini_case_folder : '../ini_case'
  jou_folder : "jurnal"
  result_folder : 'result'
  output_folder : 'outputs'
  case_folder : 'case'


simluation_parameters:
  Re : [100]
  massflow : [1]
  heatsink : ['1']
  heatflux : [100000]
  fluid : 'water'
  iterate : 500
  velocity_bc_facesname : ['inlet']
  heatflux_bc_facesname : ['heatface'] 


geometry:
  inlet_area : 312e-6
  characteristic_length : 0.002
  base_area : 0.0005
  inlet_position : -3.900000080e-02
  outlet_position : 6.100000000e-02

output_result_facesname : ['inlet', 'outlet', 'heatface']
output_result_dataname : ['temperature', 'pressure', 'velocity']
output_features : ['heatsink', 'Re', "inlet_avg_velocity", "outlet_avg_temperature", "heatface_avg_temperature", 'heatface_max_temperature','inlet_avg_temperature','outlet_avg_pressure','inlet_avg_pressure']
